:root {
  --current-color: #FFFFFF;
  --header-border-color:#ECECEC;
  --accent-color: #2196F3;
  --hover-butom-color: #188CE8;
  --text-color:#212121;
  --subtitle-color:#757575;
  --logo-style-color: #000;
  --heero-section-color:#C4C4C4;
  --sektion-background-color:#F5F4FA;
  --clients-icon-color:#AFB1B8;
  --portfolio-buton-color:#F5F4FA;
  --portfolio-card-color:#EEEEEE;
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --footer-background-color:#2F303A;
  --footer-link-color:rgba(255, 255, 255, 0.6);
  --footer-social-color:rgba(255, 255, 255, 0.1);
  --list-info-color:rgba(47, 48, 58, 0.8);
  --transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.footer-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--current-color);
  margin-bottom: 20px;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  margin-left: 93px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.header-nav__link:hover {
  color: var(--accent-color);
}
.header-nav__link--current {
  color: var(--accent-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.header-nav__link--current::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.header-list__link:hover {
  color: var(--accent-color);
}

.header-list__link-icon {
  fill: var(--subtitle-color);
  margin-right: 10px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.header-list__link:hover .header-list__link-icon {
  fill: var(--accent-color);
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-style {
  color: var(--logo-style-color);
}

.logo-color {
  color: var(--current-color);
}

.section-main {
  background-color: var(--heero-section-color);
  padding: 200px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/background-photo.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--current-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--current-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;
  min-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color box-shadowv var(--transition);
  transition: background-color box-shadowv var(--transition);
}
.button:hover {
  background-color: var(--hover-butom-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__buttom {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--current-color);
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 62px 10px 29px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.footer-form__buttom:hover, .footer-form__buttom:focus {
  background-color: var(--hover-butom-color);
}

.footer-form__send {
  fill: var(--current-color);
  position: absolute;
  top: 13px;
  right: 8px;
  bottom: 13px;
  left: 148px;
}

.modal-button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--current-color);
  display: block;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--hover-butom-color);
}

.sectiion-desc {
  padding-bottom: 0;
}

.desc-list__icon-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--sektion-background-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.desc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.desc-list__item:not(:last-child) {
  margin-right: 30px;
}

.desc-list__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.desc-list__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-info__img {
  position: relative;
}

.list-info__img:not(:last-child) {
  margin-right: 30px;
}

.list-info__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--list-info-color);
}

.list-info__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--current-color);
  padding-top: 27px;
}

.sektion-team {
  background-color: var(--sektion-background-color);
}

img {
  display: block;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-list__author {
  background-color: var(--current-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__bloc {
  text-align: center;
  padding: 30px 5px;
  border-radius: 0px 0px 4px 4px;
}

.team-list__author:not(:last-child) {
  margin-right: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.team-list__skills {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 16px;
}

.team-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-link__socials:not(:last-child) {
  margin-right: 10px;
}

.team-link__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--current-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.team-link__net:hover, .team-link__net:focus {
  background-color: var(--accent-color);
}

.team-link__icon {
  margin: 12px;
  fill: var(--clients-icon-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.team-link__net:hover .team-link__icon, .team-link__net:focus .team-link__icon {
  fill: var(--current-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__icon {
  fill: var(--clients-icon-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
  padding-left: 0;
}

.portfolio-button__list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button__item {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background: var(--portfolio-buton-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  -webkit-transition: color, background-color, -webkit-box-shadow var(--transition);
  transition: color, background-color, -webkit-box-shadow var(--transition);
  transition: color, background-color, box-shadow var(--transition);
  transition: color, background-color, box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
.portfolio-button__item:hover, .portfolio-button__item:active {
  color: var(--portfolio-buton-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-box:first-child {
  margin-right: 70px;
}

.adress {
  font-style: normal;
}

.footer-list__adress {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--current-color);
  letter-spacing: 0.03em;
}

.footer-list__link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.footer-list__link:hover {
  color: var(--accent-color);
}

.footer-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--footer-social-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--current-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.footer-social__link:hover .footer-social__icon, .footer-social__link:focus .footer-social__icon {
  fill: var(--current-color);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-form {
  margin-left: auto;
  max-width: 570px;
}

.footer-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.portfolio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.portfolio-img li {
  margin: 15px;
}

.portfolio-img__item {
  padding: 20px 24px;
  background: var(--current-color);
  border: 1px solid var(--portfolio-card-color);
}

.portfolio-img__list {
  -webkit-transition-property: -webkit-box-shadow var(--transition);
  transition-property: -webkit-box-shadow var(--transition);
  transition-property: box-shadow var(--transition);
  transition-property: box-shadow var(--transition), -webkit-box-shadow var(--transition);
  cursor: pointer;
}
.portfolio-img__list:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-img__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--portfolio-overlay-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}
.portfolio-img__list:hover .portfolio-img__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-img__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--current-color);
}

.portfolio-img__desc {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  margin: 0;
  max-width: 528px;
  background-color: var(--current-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.is-hidden {
  position: relative;
  visibility: collapse;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: var(--current-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.modal-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 12px;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.field-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--subtitle-color);
  margin-bottom: 4px;
}

.user-field {
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: border-color var(--transition);
  transition-property: border-color var(--transition);
}
.user-field:hover, .user-field:focus {
  border-color: var(--accent-color);
}

.label-icons {
  position: relative;
}

.modal-icons {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition-property: fill var(--transition);
  transition-property: fill var(--transition);
}
.user-field:hover ~ .modal-icons, .user-field:focus ~ .modal-icons {
  fill: var(--accent-color);
}

.coments {
  margin-bottom: 20px;
}

.user-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  -webkit-transition-property: border-color var(--transition);
  transition-property: border-color var(--transition);
}
.user-textarea:hover, .user-textarea:focus {
  border-color: var(--accent-color);
}

::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 0;
}

::-moz-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 0;
}

:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 0;
}

::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 0;
}

::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 0;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-control {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  position: relative;
  display: inline-block;
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.conditions {
  color: var(--accent-color);
  margin-left: 4px;
}

.checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-check {
  fill: var(--accent-color);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}
.checkbox-input:checked ~ .icon-check {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */