.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-list__link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clients-icon-color);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border-color var(--transition);

    &:hover,
    &:focus{
        border-color:var(--accent-color);
    }
}

.clients-list__item:not(:last-child){
    margin-right: 30px;
}

.clients-list__icon{
    fill:var(--clients-icon-color) ;
    transition: fill var(--transition);

    .clients-list__link:hover &,
    .clients-list__link:focus &{
    fill: var(--accent-color);
    }
}