.section-main {
  background-color: var(--heero-section-color);
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background/background-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.slogan {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: var(--current-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
