.list-info{
    display: flex;
    justify-content: center;
}

.list-info__img{
    position: relative;
}

.list-info__img:not(:last-child){
    margin-right: 30px;
}

.list-info__label{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color:var(--list-info-color)
}

.list-info__subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--current-color);
    padding-top: 27px;
}