.portfolio-button{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    padding-left: 0;
}

.portfolio-button__list:not(:last-child){
    margin-right: 8px;
}

.portfolio-button__item{
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color:var(--text-color);
    background:var(--portfolio-buton-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;
    transition: color,background-color,box-shadow var(--transition);

    &:hover,
    &:active{
    color:var(--portfolio-buton-color);
    background-color:var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}