:root {
  --current-color: #ffffff;
  --header-border-color: #ececec;
  --accent-color: #2196f3;
  --hover-butom-color: #188ce8;
  --text-color: #212121;
  --subtitle-color: #757575;
  --logo-style-color: #000;
  --heero-section-color: #c4c4c4;
  --sektion-background-color: #f5f4fa;
  --clients-icon-color: #afb1b8;
  --portfolio-buton-color: #f5f4fa;
  --portfolio-card-color: #eeeeee;
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --footer-background-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --list-info-color: rgba(47, 48, 58, 0.8);

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
